@page "/student-course-payments"
@layout MainLayout
@inherits GodswillEduRecord.Pages.StudentCoursePaymentsComponent

@using Radzen
@using Radzen.Blazor
@using GodswillEduRecord.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using GodswillEduRecord.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Student Course Payments">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getStudentCoursePaymentsResult" Count="@getStudentCoursePaymentsCount" TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Property="PaymentID" Title="Payment ID">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Property="BiodataID" SortProperty="StudentBiodatum.Surname" FilterProperty="StudentBiodatum.Surname" Title="Student Biodatum">
              <Template Context="data">
              @(data.StudentBiodatum?.Surname)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Property="CourseOfStudyID" SortProperty="SchoolCourse.CourseOfStudyName" FilterProperty="SchoolCourse.CourseOfStudyName" Title="School Course">
              <Template Context="data">
              @(data.SchoolCourse?.CourseOfStudyName)
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Property="PaymentDate" FormatString="{0:dd/MM/yyyy}" Title="Payment Date">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Property="CourseFee" Title="Course Fee">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Property="AmountPaid" Title="Amount Paid">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Property="Balance" Title="Balance">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GodswillEduRecord.Models.ConData.StudentCoursePayment" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="godswillEduRecordModelsConDataStudentCoursePayment">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, godswillEduRecordModelsConDataStudentCoursePayment))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
